.vragen {
    display: grid;
    grid-template-areas:
        "h2 h2 h2 h2 h2 h2 h2"
        "f1 f1 f1 v1 v1 v1 v1"
        "f1 f1 f1 v2 v2 v2 v2"
        "v3 v3  . f2 f2 f2 f2"
        "v4 v4 v4 v4 v4 v4 v4"
        "f3 f3 f3 f3 f3  . v5"
        "v6  . v7 v7  . v8 v8";
    gap: 50px;
    margin-bottom: 100px;
}

main h2 {
    grid-area: h2;
    text-align: center;
    margin: 75px 0 75px 0;
    font-size: 3rem;
}

dl {
    display: contents;
}

dt {
    font-style: italic;
    font-size: 1.75rem;
}

dd {
    /*Relatieve positionering om elke dd 20px onder de bijbehorende dt te zetten*/
    position: relative;
    top: 20px;

    font-size: 1.3rem;
    margin-left: 0;

    text-align: justify;
}

.v1 {
    grid-area: v1;
    transform: translate(-100px, 50px);
}

.v2 {
    grid-area: v2;
    transform: translate(-50px, -50px);
}

.v3 {
    grid-area: v3;
    width: 140%;
    transform: translate(100px, 50px);
}

.v4 {
    grid-area: v4;
    margin-bottom: 50px;
}

.v5 {
    grid-area: v5;
}

.v6 {
    grid-area: v6;
    transform: translateY(30px);
}

.v7 {
    grid-area: v7;
}

.v8 {
    grid-area: v8;
    transform: translateY(20px);
}

.f1 {
    grid-area: f1;
    width: 80%;
}

.f2 {
    grid-area: f2;
}

.f3 {
    grid-area: f3;
    width: 90%;
    transform: translateX(100px);
}

aside img {
    width: 100%;
    height: auto;
}

footer p {
    border-color: white;
}

