main h2 {
    text-align: center;
    margin: 75px 0 75px 0;
    font-size: 3rem;
}

.vragen {
    position: relative;

    /*Grid om de foto's op de juiste plaats te zetten.
    Ik moest 2 grids gebruiken, omdat de foto's en vragen op een ander niveau staan.*/
    display: grid;
    grid-template: repeat(30, 85px) / repeat(20, 85px);
}

.vragen > dl {
    /*De grid van de vragen wilde niet exact op de andere grid komen, geen idee waarom.
    Als oplossing een absolute positionering gebruikt en het manueel naar boven gedaan met 16px.*/
    position: absolute;
    top: -16px;
    left: 0;

    /*Grid om de vragen op de juiste plaats te zetten.*/
    display: grid;
    grid-template: repeat(30, 85px) / repeat(20, 85px);

    z-index: -1;
}

dt {
    font-style: italic;
    font-size: 1.75rem;
}

dd {
    /*Relatieve positionering om elke dd 50px onder de bijbehorende dt te zetten*/
    position: relative;
    top: 50px;

    font-size: 1.3rem;
    margin-left: 0;

    text-align: justify;
}

dt:nth-of-type(1), dt:nth-of-type(1) + dd {
    grid-area: 2 / 9 / 4 / 19;
}

dt:nth-of-type(2), dt:nth-of-type(2) + dd {
    grid-area: 5 / 10 / 7 / 20;
}

dt:nth-of-type(3), dt:nth-of-type(3) + dd {
    grid-area: 11 / 2 / 13 / 10;
}

dt:nth-of-type(4), dt:nth-of-type(4) + dd {
    margin-top: 20px;
    grid-area: 15 / 1 / 16 / 20;
}

dt:nth-of-type(5), dt:nth-of-type(5) + dd {
    grid-area: 18 / 16 / 26 / 20;
}

dt:nth-of-type(6), dt:nth-of-type(6) + dd {
    grid-area: 26 / 1 / 31 / 6;
}

dt:nth-of-type(7), dt:nth-of-type(7) + dd {
    grid-area: 25 / 8 / 29 / 13;
}

dt:nth-of-type(8), dt:nth-of-type(8) + dd {
    grid-area: 27 / 14 / 30 / 21;
}

aside:nth-of-type(1) {
    grid-area: 1 / 1 / 9 / 8;
}

aside:nth-of-type(2) {
    grid-area: 9 / 11 / 14 / 21;
}

aside:nth-of-type(3) {
    grid-area: 18 / 2 / 24 / 15;
}

aside img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

footer p {
    border-color: white;
}

