.hero {
    /*relatieve positionering om de tekst juist te zetten*/
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.hero img {
    width: 100%;
    z-index: 1;
}

.hero-title {
    /*absolute positionering t.o.v. de section .hero om de tekst op de foto te plaatsen*/
    position: absolute;
    bottom: 80px;
    left: 40px;
    color: #ffffff;
    font-size: 4rem;
    text-align: left;
    z-index: 2;
}

.hero-title:hover {
    color: white;
}

.hero-button {
    /*absolute positionering t.o.v. de section .hero om de tekst op de foto te plaatsen*/
    position: absolute;
    bottom: 40px;
    left: 42px;
    z-index: 2;

    text-transform: uppercase;
    color: white;
    background: none;
    font-size: 24px;
    transition: 300ms all ease;
}

.hero-button:hover {
    letter-spacing: 3px;
    transition: 300ms all ease;
    color: white;
}

.avw-description {
    /*flexbox voor de 2 foto's en tekst*/
    display: flex;
    align-content: space-between;
    margin-top: 60px;
    min-width: 0;
}

.avw-description aside {
    margin-right: 20px;
    width: 100%;
    height: auto;
}

.avw-description article {
    text-align: justify;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: #4a5662;
    padding: 50px;
    margin: 0;
    /*flexbox om de tekst en button onder elkaar te zetten*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avw-description p {
    margin: 0;
    min-width: 200px;
}

.avw-description article button {
    font-family: Urbanist, sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #a68f6e;
    transition: 300ms all ease;
}

.avw-description button:hover {
    cursor: pointer;
    letter-spacing: 3px;
    transition: 300ms all ease;
}

.extra-info {
    /*flexbox om de tekst en foto naast elkaar te zetten*/
    display: flex;
    margin: 60px 0 0 0;
    gap: 20px;
}

.extra-info > section {
    /*flexbox om de 2 articles onder elkaar te zetten.*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    background-color: #57726f;
}

.extra-info section article:last-of-type {
    margin-top: 20px;
}

.extra-info p {
    margin: 0;
    color: white;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: justify;
}

.testimonials {
    /*flexbox om de 3 testimonials naast elkaar te zetten*/
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0 0;
    color: white;
    font-size: 1.1rem;
    line-height: 1.5;
}

.testimonials section {
    background-color: #83735e;
    padding: 50px;
}

.middle {
    margin-left: 20px;
    margin-right: 20px;
}

.testimonials blockquote {
    margin: 0;
}

.testimonials h3 {
    margin: 0 0 20px;
    width: fit-content;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}


@media (max-width: 1280px) {
    .hero .hero-title {
        font-size: 3rem;
    }

    .hero .hero-button {

    }

    .testimonials {
        flex-direction: column;
    }

    .testimonials section {
        padding: 30px;
    }

    .middle {
        margin: 20px 0;
    }
}

@media (max-width: 1024px) {
    .hero .hero-title {
        font-size: 2.5rem;
    }

    .hero .hero-button {

    }
}