.breadcrumb {

}

.breadcrumb ol {
    /*Flexbox om breadcrumb horizontaal uit te lijnen.*/
    display: flex;
}

.breadcrumb li {
    list-style: none;
    margin-right: 10px;
}

.breadcrumb ol {
    padding: 0;
}

.breadcrumb li::before {
    content: "\003E \0020";
}

.breadcrumb li:first-child::before {
    content: "";
}

.main-area {
    /*Flexbox om de grote foto en info naast elkaar te zetten.*/
    display: flex;
    width: 100%;
    align-content: space-evenly;
}

.product-image {
    min-width: 46%;
}

.product-image img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.product-info {
    /*Flexbox om de main info en de extra foto's juist uit te lijnen.*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.product-info h4 {
    margin: 0;
    font-size: 2.5rem;
}

.product-info p:first-of-type {
    text-align: justify;
}

.product-info p:first-of-type span {
    /*Gap tussen 2 paragrafen*/
    display: block;
    margin-bottom: 10px;
}

.product-info p:nth-last-of-type(2) {
    margin-top: 5px;
    font-size: 1.2rem;
    opacity: 75%;
}

.product-info button {
    font-family: Urbanist, sans-serif;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    transition: 300ms all ease;
    cursor: pointer;
}

.product-info button:hover {
    color: #f0f0f0;
    background-color: #5e5e5e;
    transition: 300ms all ease;
}

.product-info a {
    margin-top: 20px;
}

.extra-photos {
    /*Horizontale uitlijning van de extra foto's*/
    display: flex;
    gap: 10px;
}

.extra-photos img {
    min-width: 0;
    width: 100%;
}

.image-1:checked {
    border: solid black 10px;
}

.specificaties h2 {
    margin-top: 50px;
}

dd {
    font-style: italic;
    margin-left: 0.5em;
    padding-bottom: 1em;
}