.banner img {
    width: 100%;
}

.sort-size {
    /*Flexbox om de sorteer opties naast elkaar te zetten.*/
    display: flex;
    justify-items: center;
    align-items: center;

    margin-bottom: 20px;
}

.sort-size h3 {
    margin-right: 10px;
}

.producten {
    /*Grid om alle producten juist uit te lijnen.*/
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

.producten section img {
    min-width: 0;
    width: 100%;
}

.producten section p:last-child {
    color: rgba(0, 0, 0, 0.50);
}

.rolex p:nth-last-of-type(2), .audemars-piguet p:nth-last-of-type(2), .patek-philippe p:nth-last-of-type(2) {
    position: relative;
}

.rolex p:nth-last-of-type(2):after, .audemars-piguet p:nth-last-of-type(2):after, .patek-philippe p:nth-last-of-type(2):after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 100px;
}

.rolex p:nth-last-of-type(2):after {
    background: #0bb664;
}

.audemars-piguet p:nth-last-of-type(2):after {
    background: #234b9b;
}

.patek-philippe p:nth-last-of-type(2):after {
    background: #d0b493;
}

.images {
    position: relative;
}

.images .front {
    /*Absolute positionering om de voorste foto exact op de achterste te zetten.*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 100ms ease-in-out;
}

.images .front:hover {
    /*Bij een hover op de bovenste foto wordt de opacity op 0 gezet, waardoor de achterste foto zichtbaar wordt.*/
    opacity: 0;
}

input {
    display: none;
}

label {
    background-color: white;
    border-radius: 50px;
    padding: 4px 10px;
    margin-left: 10px;
    transition: 200ms all ease;
}

label:hover {
    background-color: #ececec;
    transition: 200ms all ease;
}

input:nth-of-type(1):checked ~ .sort .sort-size label:nth-of-type(1) {
    background-color: #a68f6e;
    color: white;
    transition: 200ms all ease;
}

input:nth-of-type(2):checked ~ .sort .sort-size label:nth-of-type(2) {
    background-color: #a68f6e;
    color: white;
    transition: 200ms all ease;
}

input:nth-of-type(3):checked ~ .sort .sort-size label:nth-of-type(3) {
    background-color: #a68f6e;
    color: white;
    transition: 200ms all ease;
}

input:nth-of-type(4):checked ~ .sort .sort-size label:nth-of-type(4) {
    background-color: #a68f6e;
    color: white;
    transition: 200ms all ease;
}

input:nth-of-type(1):checked ~ .sort .sort-size label:nth-of-type(1):hover {
    background-color: #c0a57f;
    transition: 200ms all ease;
}

input:nth-of-type(2):checked ~ .sort .sort-size label:nth-of-type(2):hover {
    background-color: #c0a57f;
    transition: 200ms all ease;
}

input:nth-of-type(3):checked ~ .sort .sort-size label:nth-of-type(3):hover {
    background-color: #c0a57f;
    transition: 200ms all ease;
}

input:nth-of-type(4):checked ~ .sort .sort-size label:nth-of-type(4):hover {
    background-color: #c0a57f;
    transition: 200ms all ease;
}

.producten section {
    display: none;
}

input#m36:checked ~ .producten section[data-filter~="m36"],
input#m38:checked ~ .producten section[data-filter~="m38"],
input#m40:checked ~ .producten section[data-filter~="m40"],
input#m42:checked ~ .producten section[data-filter~="m42"] {
    display: initial;
}