@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
    font-family: Urbanist, sans-serif;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 30px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-left, .navbar-right {
    display: flex;
    padding: 0;
}

.navbar-logo {
    display: flex;
    height: 100px;
    width: auto;
    opacity: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.navbar-item {
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 1rem;
}

.nav-left-item {
    margin-left: 0;
}

.nav-right-item {
    margin-right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 20px 20px;
    z-index: 1;
}

.dropdown-content li {
    padding: 3px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

.current-page {
    text-decoration: underline;
}

a:hover, .current-page:hover {
    color: #a68f6e;
}

h1, h2, h3 {
    display: none;
}

.show {
    display: revert;
}

@media(max-width: 1024px) {
    .navbar-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-left-item {
        margin-left: 0;
    }

    .nav-right-item {
        margin-right: 0;
    }
}