@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Urbanist, sans-serif;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 30px;

    /* volgende 3 lijnen code is om de footer altijd onderaan de pagina te zetten,
    ook wanneer de body niet het volledige scherm opneemt. */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header nav {
    /*De navbar bestaat uit 3 elementen: navbar link, het logo en navbar rechts.
    Deze worden op de juiste manier uitgelijnd d.m.v. een flexbox.*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left, .navbar-right {
    /*Flexbox om de linkse en rechtse navbar*/
    display: flex;
    padding: 0;
    width: 500px;
}

.navbar-right {
    justify-content: right;
}

.navbar-logo {
    height: 100px;
}

.navbar-logo img {
    height: 100%;
}

.navbar-item {
    list-style-type: none;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-item a {
    vertical-align: center;
}

.nav-left-item {
    margin-left: 0;
}

.dropdown-content {
    /*dropdown staat standaard uit, pas bij hover komt die tevoorschijn.*/
    display: none;
    list-style-type: none;
    /*Wanneer een relative positionering wordt gebruik, zal het dropdown menu alles eronder naar benden
    duwen wanneer deze zichtbaar wordt*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
}

.dropdown-content li {
    padding: 3px;
}

.dropdown:hover .dropdown-content {
    /*wanneer er over de link gehoverd wordt, wordt het submenu zichtbaar gemaakt
    en onder elkaar gezet d.m.v. display: block*/
    display: block;
}

.cart svg {
    height: 100%;
    width: auto;
}

.current-page {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
    transition: 100ms all ease;
}

a:hover, .current-page:hover {
    color: #a68f6e;
    transition: 100ms all ease;
}

h1, h2, h3, h4, h5 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

.show {
    /*een class 'show' om bij bepaalde titels toe te voegen die wel zichtbaar moeten zijn.*/
    position: revert;
    width: revert;
    height: revert;
    overflow: revert;
    left: revert;
}

footer {
    margin-top: auto;
}

footer p {
    text-align: center;
    width: 150px;
    margin: 50px auto 30px auto;

    padding-top: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.75);
}

.zoom-effect {
    /*Ik heb hier en op meerdere plaatsen op mijn site een zoom effect gecreëerd d.m.v overflow:hidden te gebruiken.
    Ik weet dat het eigenlijk niet mag, maar er is geen andere manier om dit effect te bekomen zonder overflow te gebruiken.*/
    overflow: hidden;
}

.zoom-effect img {
    vertical-align: bottom;
    transition: transform 500ms;
}

.zoom-effect img:hover {
    transform: scale(1.025);
    transition: transform 500ms;
}


@media (max-width: 1024px) {
    .navbar-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-left-item {
        margin-left: 0;
    }

}